button, .btn, .btn-sm, .btn-success, .btnprint{
    display:none;
}
 body{
    counter-reset: page;
    counter-reset: p;
}
 @page{
   margin-top: 1.5cm;
   margin-left: 2.5cm;
   margin-right: 2cm;
 }
html, body {
  padding: 0;
}
/*
.page{
    counter-increment: page;
}
.page::after{
    display: block;
    text-align: right;
    content:"page "counter(page) "/" counter(pages);
}

@page{
    @top-right{
        content: counter(page) " of " counter(pages);
    }
} */
h1 {
  page-break-before: always;
  padding-top: 2em;
  }

h1:first-child {
  page-break-before: avoid;
  counter-reset: page;
  }

#print-head {
  display: block;
  position: fixed;
  top: 0pt;
  left:0pt;
  right: 0pt;

  font-size: 200%;
  text-align: center;
  }

#print-foot {
  display: block;
  position: fixed;
  bottom: 0pt;
  right: 0pt;

  font-size: 200%;
  counter-reset: page;
  }

#print-foot:after {
    counter-increment: page;
  content: counter(page);
  }
thead{
    counter-increment: p;
    
}
.page{
    content: "p " counter(p) ": ";
}
