doctype html
html
  head
    meta(charset="utf-8")
    title report
    style.
      html, body {
      margin: 0;
      padding: 10px;
      font-size: 11px;
      font-family: 'TH Sarabun New';
      }

      .small-space-line {
        line-height: 85%;
      }

      /*table*/
      table {
      border-spacing: 0;
      border-collapse: collapse;
      }
      td,
      th {
      padding: 0;
      }
      table {
      background-color: transparent;
      }
      caption {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #777;
      text-align: left;
      }
      th {
      text-align: center;
      }
      .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      }
      .table > thead > tr > th,
      .table > tbody > tr > th,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > td,
      .table > tfoot > tr > td {
      padding: 2px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #333232;
      }
      .table > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #333232;
      }
      .table > caption + thead > tr:first-child > th,
      .table > colgroup + thead > tr:first-child > th,
      .table > thead:first-child > tr:first-child > th,
      .table > caption + thead > tr:first-child > td,
      .table > colgroup + thead > tr:first-child > td,
      .table > thead:first-child > tr:first-child > td {
      border-top: 0;
      }
      .table > tbody + tbody {
      border-top: 2px solid #333232;
      }
      .table .table {
      background-color: #fff;
      }
      .table-condensed > thead > tr > th,
      .table-condensed > tbody > tr > th,
      .table-condensed > tfoot > tr > th,
      .table-condensed > thead > tr > td,
      .table-condensed > tbody > tr > td,
      .table-condensed > tfoot > tr > td {
      padding: 1px;
      }
      .table-bordered {
      border: 1px solid #333232;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > tbody > tr > th,
      .table-bordered > tfoot > tr > th,
      .table-bordered > thead > tr > td,
      .table-bordered > tbody > tr > td,
      .table-bordered > tfoot > tr > td {
      border: 1px solid #333232;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td {
      border-bottom-width: 2px;
      }
      .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
      }
      .table-hover > tbody > tr:hover {
      background-color: #f5f5f5;
      }
      table col[class*="col-"] {
      position: static;
      display: table-column;
      float: none;
      }
      table td[class*="col-"],
      table th[class*="col-"] {
      position: static;
      display: table-cell;
      float: none;
      }
      .table > thead > tr > td.active,
      .table > tbody > tr > td.active,
      .table > tfoot > tr > td.active,
      .table > thead > tr > th.active,
      .table > tbody > tr > th.active,
      .table > tfoot > tr > th.active,
      .table > thead > tr.active > td,
      .table > tbody > tr.active > td,
      .table > tfoot > tr.active > td,
      .table > thead > tr.active > th,
      .table > tbody > tr.active > th,
      .table > tfoot > tr.active > th {
      background-color: #f5f5f5;
      }
      .table-hover > tbody > tr > td.active:hover,
      .table-hover > tbody > tr > th.active:hover,
      .table-hover > tbody > tr.active:hover > td,
      .table-hover > tbody > tr:hover > .active,
      .table-hover > tbody > tr.active:hover > th {
      background-color: #e8e8e8;
      }
      .table-responsive {
      min-height: .01%;
      overflow-x: auto;
      }

      table.center {
        margin-left:auto; 
        margin-right:auto;
      }

  body(style='font-size: 16px;width:80%;margin-left:10%;')
    div(style="text-align:center;")
        p(style="font-size: 17px;")
          strong ฉบับผู้จะซื้อ
           |<br> สัญญาจะซื้อจะขายแบบราคาที่ไม่จำกัดปริมาณ
    div(style="text-align:right;")
      p(style="font-size: 17px;") สัญญาเลขที่ .../....
    p
      div(style='width:40px;height:1px;float:left')
      | สัญญาฉบันนี้ทำขึ้น ณ ศาลากลางจังหวัดสิงห์บุรี ตำบลบางมัญ อำเภอเมือง จังหวัดสิงห์บุรี 
      | เมื่อวันที่ .................................... ระหว่างจังหวัดสิงห์บุรี โดย......................... 
      | ตำแหน่งผู้อำนวยการโรงพยาบาลสิงห์บุรี ปฏิบัติราชการแทนผู้ว่าราชการจังหวัดสิงห์บุรี ตามคำสั่งจังหวัดสิงห์บุรี 
      | ที่ ............................... ลงวันที่ 8 ตุลาคม 2557 ซึ่งต่อไปในสัญญานี้เรียนว่า “ผู้จะซื้อ” 
      | ฝ่ายหนึ่งกับ บริษัท เทคโนเมดิคัล จำกัด ซึ่งจดทะเบียนเป็นนิติบุคคล ณ สำนักงานทะเบียนหุ้นส่วนบริษัทกรุ่งเทพมหานคร กรมพัฒนาธุรกิจการค้า กระทรวงพาณิชย์ มีสำนักงานใหญ่อยู่เลขที่ 29 ซอยลาดพร้าว 92 แขวงพลับพลา เขตวังทองหลาง กรุงเทพมหานคร โดยนางสาวพิชานันท์ มีคุณ ผู้รับมอบอำนาจจากนายศุภพงษ์ จรรโลงบุตร และนางสุนทรี จรรโลงบุตร ผู้มีอำนาจลงนามผูกพันนิติบุคคลปรากฏตามหนังสือรับรองของสำนักงานทะเบียนหุ้นส่วนบริษัทกรุงเทพมหานคร ที่ สจ.2015739 
      | ลงวันที่ 1 เมษายน 2558 แนบท้ายสัญญา ซึ่งต่อไปนี้สัญญนี้จะเรียกว่า “ผู้จะขาย” อีกฝ่ายหนึ่ง
      br
      div(style='width:40px;height:1px;float:left')
      | คู่สัญญาได้ตกลงกันมีข้อความดังต่อไปนี้
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 1.ข้อตกลงจะซื้อจะขาย
      br
      div(style='width:40px;height:1px;float:left')
      | ผู้จะซื้อตกลงจะซื้อและผู้จะขายตกลงจะขายเวชภัณฑ์มิใช่ยา จำนวน 3 รายการ ดังนี้
      br
      div(style='width:40px;height:1px;float:left')
      | 1.1	Flex Liner 1.5 ลิตร จำนวน 3,000 ชิ้น ๆ ละ 65.-บาท วงเงิน 195,000.- บาท (หนึ่งแสนเก้าหมื่นห้าพันบาทถ้วน) รวมภาษามูลค่าเพิ่ม
      br
      div(style='width:40px;height:1px;float:left')
      | 1.2	Flex Liner 3.0 ลิตร จำนวน 3,000 ชิ้น ๆ ละ75.-บาท วงเงิน 225,000.-บาท (สองแสนสองหมื่นห้าพันบาทถ้วน) รวมภาษีมูลค่าเพิ่ม
      br
      div(style='width:40px;height:1px;float:left')
      | 1.3	Clave with Extension 7 จำนวน 19,000 ชิ้น ๆ ละ 34.90 บาท วงเงิน 663,100.-บาท (หกแสนหกหมื่นสามพันหนึ่งร้อยบาทถ้วน) รวมภาษีมูลค่าเพิ่ม
      | ตามเอกสารรายการสิ้นค้าและราคาต่อหน่วยแนบท้ายสัญญานี้ ตามจำนวนที่ผู้จะซื้อ จะสั่งเป็นคราวๆ ไปมีกำหนดเวลา 12 เดือน นับตั้งแต่วันที่ .................................จนถึงวันที่................................. เป็นราคาทั้งสิ้นประมาณ 1,083,100.-บาท (หนึ่งล้านแปดหมื่นสามพันหนึ่งร้อยบาทถ้วน) ซึ่งรวมภาษีมูลค่าเพิ่มตลอดจนภาษีอากรอื่นๆและค่าใช่จ่ายทั้งปวงด้วยแล้ว
      br
      div(style='width:40px;height:1px;float:left')
      | ตลอดอายุสัญญานี้ ผู้จะขายรับจะจัดหาสิ่งของที่ขายตามวรรคหนึ่งไว้เตรียมไว้ให้แก่ผู้จะซื้อได้อย่างเพียงพอตามจำนวนที่คู่สัญญาได้ตกลงประมาณการไว้ในภาคผนวก 1 แนบท้ายสัญญานี้ แต่ผู้จะซื้ออาจสั่งซื้อจริงมากหรือน้อยกว่าจำนวนประมาณการดังกล่าวก็ได้
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 2.การรับรองคุณภาพ
      br
      div(style='width:40px;height:1px;float:left')
      | ผู้จะขายรับรองว่าสิ่งของที่จะขายให้ตามสัญญานี้เป็นของแท้ ของใหม่ มาเคยใช้งานมาก่อนไม่เป็นของเก่าเก็บทั้งมีคุณภาพและคุณสมบัติไม่ต่ำกว่าที่กำหนดไว้ในเอกสารแนบท้ายสัญญา
      | ในกรณีที่เป็นการซื้อสิ่งของซึ่งจะต้องมีการตรวจทดลองผู้จะขายรับรองว่าเมื่อตรวจทดลองแล้ว ต้องมีคุณภาพไม่ต่ำกว่าที่กำหนดไว้ด้วย
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 3.เอกสารอันเป็นส่วนหนึ่งของสัญญา
      br
      div(style='width:40px;height:1px;float:left')
      | เอกสารแนบท้ายสัญญาดังต่อไปนี้ให้ถือเป็นส่วนหนึ่งของสัญญานี้
      br
      div(style='width:40px;height:1px;float:left')
      | 3.1 ผนวก 1 ใบเสนอราคา				จำนวน 2 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.2 ผนวก 2 รายละเอียดคุณลักษณะเฉพาะ		จำนวน 6 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.3 ผนวก 3 แคตตาล็อกรูปแบบ			จำนวน 20 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.4 ผนวก 4 หนังสือมอบอำนาจ			จำนวน 1 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.5 ผนวก 5 สำเนาบัตรประจำตัวประชาชน		จำนวน 3 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.6 ผนวก 6 สำเนาหนังสือรับรองการจดทะเบียน	จำนวน 4 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.7 ผนวก 7 สำเนาใบสำคัญแสดงการจดทะเบียน	จำนวน 1 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | 3.8 ผนวก 8 สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม		จำนวน 1 หน้า
      br
      div(style='width:40px;height:1px;float:left')
      | ความใดในเอกสารแนบท้ายสัญญาที่ขัดแย้งกับข้อความในสัญญานี้ ให้ใช้ข้อความในสัญญานี้บังคับ และในกรณีที่เอกสารแนบท้ายสัญญาขัดแย้งกันเอง ผู้จะขายจะต้องปฏิบัติตามคำวินิจฉัยของผู้จะซื้อ
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 4. การออกใบสั่งซื้อแต่ละคราว
      br
      div(style='width:40px;height:1px;float:left')
      | ผู้จะซื้อจะออกใบสั่งซื้อสิ่งของในแต่ละคราวเพียงรายการเดียวหรือหลายรายการพร้อมกันก็ได้ในปริมาณแต่ละรายการคราวละอย่างมากไม่เกิน…………………หรืออย่างน้อยไม่ต่ำกว่า………………โดยจะระบุปริมาณ สถานที่ และวันเวลาที่ผู้จะขายจะต้องส่งมอบไว้ในใบสั่งซื้อแต่ละคราว
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 5. การส่งมอบ
      br
      div(style='width:40px;height:1px;float:left')
      | ผู้จะขายสัญญาว่าจะส่งมอบสิ่งของตามสัญญาให้แก่ผู้จะซื้อตามปริมาณสถานที่และวันเวลาที่กำหนดไว้ในใบสั่งซื้อแต่ละคราวด้วยค่าใช้จ่ายของผู้จะขายเอง พร้อมทั้งหีบห่อหรือเครื่องรัดพันผูกให้เรียบร้อย ทั้งนี้ ผู้จะซื้อจะออกใบสั่งซื้อจะออกใบสั่งซื้อมอบให้แก่ผู้จะขายล่วงหน้าก่อนครบกำหนดเวลาส่งมอบตามใบสั่งซื้อไม่น้อยกว่า…………….วัน
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 6. การตรวจรับ
      br
      div(style='width:40px;height:1px;float:left')
      | เมื่อผู้จะซื้อได้ตรวจรับสิ่งของที่ส่งมอบ และเห็นว่าถูกต้องครบถ้วนตามสัญญาและใบสั่งซื้อในแต่ละคราวแล้ว ผู้จะซื้อจะออกหลักฐานการรับมอบไว้ให้ เพื่อผู้จะขายนำมาเป็นหลักฐานประกอบการขอรับเงิน ค่าสิ่งของนั้น
      | ถ้าผลของการตรวจรับปรากฏว่า สิ่งของที่ส่งมอบไม่ตรงตามสัญญาและใบสั่งซื้อผู้จะซื้อทรงไว้ซึ่งสิทธิที่จะไม่รับสิ่งของนั้น ในกรณีเช่นนี้ ผู้จะขายต้องรีบนำสิ่งของนั้นกลับคืนโดยเร็วที่สุดเท่าที่จะทำได้และนำสิ่งของมาส่งมอบให้ใหม่หรือเพิ่มเติมให้ถูกต้องตามสัญญาและใบสั่งซื้อ ด้วยค่าใช้จ่ายของผู้จะขายเอง และระยะเวลาที่เสียไปดังกล่าว ผู้จะขายจะนำมาอ้างเป็นเหตุขอขยายเวลาทำการเพื่อลดหรืองดค่าปรับไม่ได้
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 7. การชำระเงิน
      br
      div(style='width:40px;height:1px;float:left')
      | ผู้จะซื้อจะชำระเงินค่าสิ่งของที่คำนวณตามปริมาณที่กำหนดในใบสั่งซื้อแต่ละคราวและตามราคาต่อหน่วยดังระบุไว้ในผนวก 1 แนบท้ายสัญญานี้ ให้แก่ผู้จะขายภายใน……..วันนับแต่วันที่ผู้จะขายได้แสดงหลักฐานการรับมอบตามข้อ 6 ให้แก่ผู้จะซื้อ
      | การจ่ายเงินตามเงื่อนไขแห่งสัญญานี้ ผู้จะซื้อจะโอนเงินเข้าบัญชีฝากธนาคารของผู้ที่จะขาย ชื่อ ธนาคารกรุงศรีอยุธยา จำกัด (มหาชน) สาขาซอยทองหล่อ ชื่อบัญชี บริษัท เทคโนเมดิคัล จำกัด เลขที่บัญชี 255-0-00660-0 ทั้งนี้ ผู้จะขายตกลงเป็นผู้รับภาระเงินค่าธรรมเนียมหรือค่าบริการอื่นใดเกี่ยวกับการโอนเงินที่ธนาคารเรียกเก็บ และยินยอมให้มีการหักเงินดังกล่าวจากจำนวนโอนในงวดนั้นๆ
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 8. การรับประกันความชำรุดบกพร่อง
      br
      div(style='width:40px;height:1px;float:left')
      | ผู้จะขายยอมรับประกันความชำรุดบกพร่องหรือขัดข้องของสิ่งของตามสัญญานี้เป็นเวลา………ปี…….เดือน นับแต่วันที่ผู้จะซื้อได้รับมอบ โดยภายในกำหนดเวลาดังกล่าวหากสิ่งของตามสัญญานี้เกิดชำรุดบกพร่องหรือขัดข้องอันเนื่องมาจากการใช้งานตามปกติ ผู้จะขายจะต้องจัดการซ่อมแซมหรือแก้ไขให้อยู่ในสภาพที่ใช้การได้ดีดังเดิมภายใน……...วัน นับแต่วันที่ได้รับแจ้งจากผู้จะซื้อโดยไม่คิดค่าใช้จ่ายใด ๆ ทั้งสิ้น
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 9. หลักประกันการปฏิบัติตามสัญญา
      br
      div(style='width:40px;height:1px;float:left')
      | ในวันทำสัญญานี้ผู้จะขายได้นำหลักประกันเป็น หนังสือค้ำประกันธนาคารไทยพาณิชย์ จำกัด (มหาชน) สาขาสี่แยกศรีวรา เลขที่ ค.4769008269200 ลงวันที่ 7 เมษายน 2558 เป็นจำนวนเงิน……………..บาท(………………………..) ซึ่งเท่ากับร้อยละ……….(………..%) ของราคาประมาณการตามข้อ 1 มามอบไว้แก่ผู้ซื้อเพื่อเป็นหลักประกันการปฏิบัติตามสัญญานี้
      | หลักประกันที่ผู้จะขายนำมามอบไว้ตามวรรคหนึ่ง ผู้จะซื้อจะคืนให้เมื่อผู้จะขายพ้นจากข้อผูกพันตามสัญญานี้แล้ว
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 10. การบอกเลิกสัญญา
      br
      div(style='width:40px;height:1px;float:left')
      | เมื่อครบกำหนดส่งมอบสิ่งของตามใบสั่งซื้อ ถ้าผู้จะขายไม่ส่งมอบสิ่งของที่ตกลงขายให้แก่ผู้จะซื้อหรือส่งมอบไม่ถูกต้องหรือไม่ครบจำนวน ผู้จะซื้อมีสิทธิบอกเลิกสัญญาณทั้งหมดหรือบางส่วนได้
      | ในกรณีที่ผู้จะซื้อใช้สิทธิบอกเลิกสัญญาผู้จะซื้อมีสิทธิริบหลักประกันหรือเรียกร้องจากธนาคารผู้ออกหนังสือค้ำประกันตามสัญญาข้อ 9 เป็นจำนวนเงินทั้งหมดหรือแต่บางส่วนก็ได้ แล้วแต่ผู้จะซื้อจะเห็นสมควรและถ้าผู้จะซื้อจัดซื้อสิ่งของจากบุคคลอื่นเต็มจำนวนหรือเฉพาะจำนวนที่ขาดส่ง แล้วแต่กรณี ภายในกำหนด………เดือน นับแต่วันบอกเลิกสัญญาผู้จะขายจะต้องชดใช้ราคาที่เพิ่มขึ้นจากราคาที่กำหนดไว้ในสัญญานี้ด้วย
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 11. ค่าปรับ
      br
      div(style='width:40px;height:1px;float:left')
      | ในกรณีที่ผู้จะซื้อไม่ใช้สิทธิบอกเลิกสัญญาตามสัญญาข้อ 10 ผู้จะขายจะต้องชำระค่าปรับให้ผู้จะซื้อเป็นรายวัน ในอัตราร้อยละ……….(…...%) ของราคาสิ่งของที่ยังไม่ได้รับมอบนับแต่วันถัดจากวันครบกำหนดส่งมอบตามใบสั่งซื้อจนถึงวันที่ผู้จะขายได้นำสิ่งของมาส่งมอบให้แก่ผู้จะซื้อจนถูกต้องครบถ้วนตามใบสั่งซื้อ หรือจนถึงวันที่ผู้จะซื้อได้ซื้อสิ่งของตามใบสั่งซื้อนั้นจากบุคคลอื่น ในกรณีนี้ผู้จะขายยอมรับผิดชดใช้ราคาที่เพิ่มขึ้นจากราคาที่กำหนดไว้ในสัญญาด้วยซึ่งผู้จะขายตกลงให้ผู้จะซื้อหักเงินค่าปรับและราคาที่เพิ่มขึ้นดังกล่าวจากราคาสิ่งของตามใบสั่งซื้อคราวใดก็ได้หรือให้ผู้จะซื้อเรียกร้องจากผู้จะขายตามสัญญาข้อ 12 หรือจะเรียกร้องจากหลักประกันสัญญาตามข้อ 9 ก็ได้ ตามที่ผู้จะซื้อจะเห็นสมควร
      | การคิดค่าปรับในกรณีสิ่งของที่ตกลงจะซื้อจะขายประกอบกันเป็นชุด แต่ผู้จะขายส่งมอบเพียงบางส่วนหรือขาดส่วนประกอบส่วนหนึ่งส่วนใดไป ทำให้ไม่สามารถใช้การได้โดยสมบูรณ์ ให้ถือว่ายังไม่ได้ส่งมอบสิ่งของนั้นเลย และให้คิดค่าปรับจากราคาสิ่งของเต็มทั้งชุด
      | ในระหว่างที่ผู้จะซื้อยังมิได้ใช้สิทธิบอกเลิกสัญญานั้น ถ้าผู้จะซื้อเห็นว่าผู้จะขายไม่อาจปฏิบัติตามสัญญาต่อไปได้ ผู้จะซื้อจะใช้สิทธิบอกเลิกสัญญา และริบหลักประกันหรือเรียกร้องจากธนาคารผู้ออกหนังสือค้ำประกันตามสัญญาข้อ 9 กับเรียกร้องให้ชดใช้ราคาที่เพิ่มขึ้นตามที่กำหนดไว้ในสัญญาข้อ 10 วรรคสอง ก็ได้ แกละถ้าผู้จะซื้อได้แจ้งข้อเรียกร้องให้ชำระค่าปรับไปยังผู้จะขายเมื่อครบกำหนดส่งมอบตามใบสั่งซื้อแล้วผู้จะซื้อมีสิทธิที่จะปรับผู้จะขายจนถึงวันบอกเลิกสัญญาได้อีกด้วย
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 12. การรับผิดชดใช้ค่าเสียหาย
      br
      div(style='width:40px;height:1px;float:left')
      | ถ้าผู้จะขายไม่ปฏิบัติตามสัญญาข้อหนึ่งข้อใดด้วยเหตุใด ๆ ก็ตาม จนเป็นเหตุให้เกิดความเสียหายแก่ผู้จะซื้อแล้ว ผู้จะขายต้องชดใช้ค่าเสียหายให้แก่ผู้จะซื้อโดยสิ้นเชิงภายในกำหนด 30 วันนับแต่วันที่ได้รับแจ้งจากผู้จะซื้อ
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 13. การขอขยายเวลาส่งมอบ
      br
      div(style='width:40px;height:1px;float:left')
      | ในกรณีที่มีเหตุสุดวิสัย หรือเหตุใด ๆ อันเนื่องมาจากความผิดหรือความบกพร่องของฝ่ายผู้จะซื้อ หรือจากพฤติการณ์อันใดอันหนึ่งซึ่งผู้จะขายไม่ต้องรับผิดชอบตามกฎหมายเป็นเหตุให้ผู้จะขายไม่สามารถส่งมอบสิ่งของตามเงื่อนไขและกำหนดเวลาแห่งสัญญานี้ได้ ผู้จะขายมีสิทธิขอขยายเวลาทำการตามสัญญาหรือขอลดหรืองดค่าปรับได้ โดยจะต้องแจ้งเหตุหรือพฤติการณ์ดังกล่าวพร้อมหลักฐานเป็นหนังสือให้ผู้จะซื้อทราบภายใน 15 วัน นับแต่วันที่เหตุนั้นสิ้นสุดลง
      | ถ้าจะขายไม่ปฏิบัติให้เป็นไปตามความในวรรคหนึ่ง ให้ถือว่าผู้จะขายได้สละสิทธิ์เรียกร้องในการที่จะขอขยายเวลาทำการตามสัญญาเพื่องดหรือลดค่าปรับโดยไม่มีเงื่อนไขใดๆ ทั้งสิ้น เว้นแต่กรณีเหตุเกิดจากความผิดหรือความบกพร่องของฝ่ายผู้จะซื้อ  ซึ่งมีหลักฐานชัดแจ้งหรือผู้จะซื้อทราบดีอยู่แล้วตั้งแต่ต้น
      | การขยายเวลาทำการตามสัญญาเพื่อลดหรืองดค่าปรับตามวรรคหนึ่งอยู่ในดุลพินิจของผู้จะซื้อที่จะพิจารณา
      br
      div(style='width:40px;height:1px;float:left')
      | ข้อ 14. การใช้เรือไทย
      br
      div(style='width:40px;height:1px;float:left')
      | ถ้าสิ่งของที่จะต้องส่งมอบให้ผู้จะซื้อตามสัญญานี้ เป็นสิ่งของที่ผู้จะขายจะต้องสั่งหรือนำเข้ามาจากต่างประเทศและสิ่งของนั้นต้องนำเข้ามาโดยทางเรือในเส้นทางเดินเรือที่มีเรือไทยเดินอยู่และสามารถให้บริการรับขนได้ตามที่รัฐมนตรีว่าการกระทรวงคมนาคมประกาศกำหนด ผู้จะขายต้องจัดการให้สิ่งของดังกล่าวบรรทุกโดยเรือไทยหรือเรือที่มีสิทธิเช่นเดียวกับเรือไทยจากต่างประเทศมายังประเทศไทย เว้นแต่จะได้รับอนุญาตจากสำนักงานคณะกรรมการส่งเสริมการพาณิชย์นาวีก่อนบรรทุกของนั้นลงเรืออื่นที่มิใช่เรือไทย หรือเป็นของที่รัฐมนตรีว่าการกระทรวงคมนาคมประกาศยกเว้นให้บรรทุกโดยเรืออื่นได้ ทั้งนี้ไม่ว่าการสั่งหรือสั่งซื้อสิ่งของดังกล่าวจากต่างประเทศเป็นแบบ เอฟโอบี, ซีเอฟอาร์, ซีไอเอฟ หรือแบบอื่นใด
      | ในการส่งมอบสิ่งของตามสัญญาให้แก่ผู้จะซื้อ ถ้าสิ่งของนั้นเป็นสิ่งของตามวรรคหนึ่ง ผู้จะขายจะต้องส่งมอบใบตราส่ง (Bill of Lading) หรือสำเนาใบตราส่งสำหรับของนั้น ซึ่งแสดงว่าได้บรรทุกมาโดยเรือไทยหรือเรือที่มีสิทธิเช่นเดียวกับเรือไทยให้แก่ผู้จะซื้อพร้อมกับการส่งมอบสิ่งของด้วย
      | ในกรณีที่สิ่งของดังกล่าว ไม่ได้บรรทุกจากต่างประเทศมายังประเทศไทยโดยเรือไทย หรือเรือ      ที่มีสิทธิเช่นเดียวกับเรือไทย ผู้จะขายต้องส่งมอบหลักฐานซึ่งแสดงว่าได้รับอนุญาตจากสำนักงานคณะกรรมการส่งเสริมการพาณิชย์นาวีให้บรรทุกของ โดยเรืออื่นได้หรือหลักฐานซึ่งแสดงว่าได้ชำระค่าธรรมเนียมพิเศษเนื่องจากการไม่บรรทุกของโดยเรือไทยตามกฎหมายว่าด้วยการส่งเสริมการพาณิชย์นาวีแล้วอย่างใดอย่างหนึ่งแก่ผู้จะซื้อด้วย
      | ในกรณีที่ผู้จะขาย ไม่ส่งมอบหลักฐาน อย่างใดอย่างหนึ่งดังกล่าว ในวรรคสองข้างต้นให้แก่       ผู้จะซื้อแต่จะขอส่งมอบ สิ่งของดังกล่าวให้ผู้จะซื้อก่อน โดยยังไม่รับชำระเงินค่าสิ่งของผู้จะซื้อมีสิทธิรับสิ่งของดังกล่าว ไว้ก่อนและชำระเงินค่าสิ่งของเมื่อผู้จะขายได้ปฏิบัติถูกต้องครบถ้วนดังกล่าวแล้วได้
      | สัญญานี้ทำขึ้นสองฉบับ มีข้อความถูกต้องตรงกัน คู่สัญญาได้อ่านและเข้าใจข้อความโดยละเอียดตลอดแล้ว จึงได้ลงลายมือชื่อพร้อมทั้งประทับตรา (ถ้ามี) ไว้เป็นสำคัญต่อหน้าพยานและคู่สัญญาต่างยึดถือไว้ฝ่ายละฉบับ
    div(style='width:50%;margin-left:30%;')
    | (ลงชื่อ)………………………..ผู้จะซื้อ
    br
    | (……………………………….)
    br
    | (ลงชื่อ………………………….ผู้จะขาย
    br
    | (………………………………..)
    br
    | (ลงชื่อ)……………………….…พยาน
    br
    | (………………………………...)
    br
    | (ลงชื่อ)…………………………..พยาน
    br
    | (………………………………….)
